.height{
    min-height: 100vh;
}

.underline-skill{
    width: 100px;
    height: 5px;
}

.height-80{
    height: 80vh;
}

.img{
    background: url(/image/about-bcg.jpeg)center/cover no-repeat fixed;
    
}

.bg-color{
background: #6C757D;
}

.carousel-inner img {
    width: 100vw;
    height: 100vh;
  }